body {
    background-attachment: scroll;
    background-image:url(../img/background.png);
    font-family: 'Courier New', Courier, monospace;
}

nav ul{
    background-color: none;
    float: right;
    font-size: 28px;
    list-style-type: none;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: 100px;
    color:blueviolet;
}


h1 title{
    background-color:rgb(216, 191, 216) ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 35px;
    line-height: 29px;
    color: blueviolet;
    background-blend-mode:pass through;
    text-transform: uppercase;
    
}
h1{
    background-color: rgb(216, 191, 216);
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
    line-height: 84.69%;
    color: purple;
    text-transform: uppercase;
}

/***** DATOS PERSONALES *****/

h3{
    background-color: rgb(216, 191, 216);
    color: purple;
    font-size: 20px;
    padding: 20px 10px;
}


ul li span{
    font-weight: 700;
    font-style: italic;
    color:black;
}

table{
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    display: block;
    padding: 10px;
    color: black;
}

table tr td {
    vertical-align: top;
}

.date{
    font-weight: 700;
    color:blueviolet;
}

/***** FOOTER *****/

.socialMedia{
    background-color:rgb(216, 191, 216) ;
    height: 50px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    color: blueviolet;
    line-height: 84.69%;
    text-transform: uppercase;
}

footer span{
    background-color: rgb(216, 191, 216);
    font-weight: 700;
    color: blueviolet;
    line-height: 84.69%;
    text-transform: uppercase;
}